/* transition-duration */
/* transition-property */
/* transition-timing-function */
/* transition-delay */

p {
	width: 150px;
	height: 150px;
	background-color: #9b59b6;
	color: white;
	text-transform: uppercase;
	text-align: center;
	line-height: 150px;
}

.box:hover {
	background: #e74c3c;
}

.transition {
	transition-property: background;
	transition-duration: 1s;
	transition-timing-function: linear;
}

.craziness {
	transition: transform 3s 1s, background 1s 1s;
}

.craziness:hover {
	transform: rotate(720deg) scale(0.5);
	background: #e67e22;
	border-radius: 100px;
}
