body {
	margin: 0;
	padding: 0;
}

h3 {
	font-size: 22px;
	margin: 0;
}

.container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.box {
	padding: 20px;
	background-color: #cc0042;
	flex: 200px 1 1;
	color: white;
	font-family: Helvetica, sans-serif;
	transition: background-color .1s;
	display: flex;
	align-items: center;
}

.middle {
	background-color: #b20039;
}

.box:hover {
	background-color: #ff0052;
}
